/* General Styles */
body {
    background-color: #f4f7fc;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #1d0229 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Form Container */
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.card-header {
    background: #2a013e;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

/* Form Styling */
.form-group label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #370346;
    box-shadow: 0px 0px 8px rgba(46, 2, 75, 0.3);
}

/* Submit Button */
.btn-primary {
    background-color: #350346;
    border-color: #31023f;
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #2e012d;
    border-color: #2b0248;
}

/* Responsive Design */
@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}
